{% extends 'base.html.twig' %}

{% block container %}

<div class="container">

    <h1>Patrones de Diseño</h1>
    
    <div class="accordion" id="designpatterns">
        
        {% for category_id,category in menu %}
        
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#designpatterns" href="#{{ category_id }}">
                    {{ loop.index }}. {{ category.name }}
                </a>
            </div>
            <div id="{{ category_id }}" class="accordion-body collapse in">
                <div class="accordion-inner">
                    {% include '_patterns.html.twig' with { 'category_number': loop.index, 'category_id': category_id, 'patterns': category.patterns } %}
                </div>
            </div>
        </div>
        
        {% endfor %}
        
    </div>
    
    <h2>Referencias</h2>
    
    <ul>
        <li>http://www.davidrojas.net/index.php/category/php/</li>
        <li>http://www.baluart.net/articulo/introduccion-a-los-patrones-de-diseno-con-php (Español)</li>
        <li>http://net.tutsplus.com/articles/general/a-beginners-guide-to-design-patterns/ (Inglés)</li>
        <li>http://www.tutorialspoint.com/design_pattern/index.htm</li>
        <li>http://www.newthinktank.com/videos/design-patterns-tutorial/</li>
        <li>http://www.blackwasp.co.uk/DesignPatternsArticles.aspx</li>
        <li>http://www.oodesign.com/</li>
        <li>http://programacionsolida.com.ar/search/label/Design%20Patterns</li>
        <li>http://javapostsforlearning.blogspot.in/</li>
        <li>http://en.wikipedia.org/wiki/Design_pattern_%28computer_science%29</li>
        
        <li>http://corey.quickshiftconsulting.com/1/post/2009/5/first-post.html - Simple Factory vs. Factory Method vs. Abstract Factory</li>
        <li>http://web.cs.dal.ca/~jin/3132/lectures/dp-07.pdf - Simple Factory vs. Factory Method</li>
        <li>http://desarrolladorsenior.blogspot.com/2009/09/patron-simple-factory-en-php5.html - Simple Factory</li>
        <li>http://www.coderanch.com/t/151598/java-Architect-SCEA/certification/Builder-Strategy-Patterns - Diferencia entre Builder y Strategy</li>
        
    </ul> 

{% endblock %}