{% extends 'base.html.twig' %}

{% block container %}

<div class="container">

    <h1>Patrones de Diseño</h1>
    
    <div class="accordion" id="designpatterns">
        
        {% for category_id,category in menu %}
        
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#designpatterns" href="#{{ category_id }}">
                    {{ loop.index }}. {{ category.name }}
                </a>
            </div>
            <div id="{{ category_id }}" class="accordion-body collapse in">
                <div class="accordion-inner">
                    {% include '_patterns.html.twig' with { 'category_number': loop.index, 'category_id': category_id, 'patterns': category.patterns } %}
                </div>
            </div>
        </div>
        
        {% endfor %}
        
    </div>
    
    <h2>Referencias</h2>
    
    <ul>
        <li>Artículos: http://www.blackwasp.co.uk/DesignPatternsArticles.aspx</li>
        <li>Artículos: http://programacionsolida.com.ar/search/label/Design%20Patterns</li>
        <li>Artículos: http://www.baluart.net/articulo/introduccion-a-los-patrones-de-diseno-con-php</li>
        <li>Artículos: http://www.tutorialspoint.com/design_pattern/index.htm</li>
        <li>Artículos: http://www.davidrojas.net/index.php/category/php/</li>
        <li>Artículos: http://corey.quickshiftconsulting.com/1/post/2009/5/first-post.html - Simple Factory vs. Factory Method vs. Abstract Factory</li>
        <li>Videos: http://www.youtube.com/watch?v=vNHpsC5ng_E</li>
        <li>Videos: http://blip.tv/david-rojas-diseo-y-desarrollo-web/10-patrones-de-dise%C3%B1o-en-php-observer-pattern-3589425</li>
    </ul> 

{% endblock %}